.DS_Store
.idea
.gradle
grafana.db
build
/*/data/*

node_modules
package-lock.json

*.bak

jmxterm.jar

/tmp
/ksqlDB/ext/*
/connect/jars/*

/connect/tmp/*
/druid/storage/*
/druid/staging/*
/oracle/init.d/startup
/oracle/init.d/startup.stage
/flink/jars/*
/flink/tmp/*
/demo/**/tmp/*

/connect/secrets/opensky.properties

/gradle
/gradlew
/gradlew.bat
