.DS_Store
.idea
.gradle
grafana.db
build
/tmp
/ksqlDB/ext/*
/connect/jars/*
/connect/tmp/*
/mysql5/data/*
/mysql/data/*
/oracle/data/*
/druid/storage/*
/druid/staging/*
/oracle/init.d/startup
/oracle/init.d/startup.stage
/flink/jars/*
/flink/data/*
/flink/tmp/*
/s3/data/*

/storage/data/*
/demo/**/tmp/*

/connect/secrets/opensky.properties
